@import '../../styles/colors.scss';

.signup {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;

  .form {
    display: flex;
    flex-direction: column;
    width: 400px;
    background-color: $white;
    padding: 40px;
    border-radius: 8px;
    align-self: center;

    .submit {
      margin-top: 32px;
      cursor: pointer;
      &:disabled {
        background-color: $disabled;

        &:hover {
          opacity: 1;
        }
      }
    }

    .link {
      text-align: center;
      color: $primary;
      margin-top: 16px;
      margin-bottom: 16px;
      cursor: pointer;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}
